/ResolucaoDoSistema/nbproject/private/
/ResolucaoDoSistema/build/
/Aula03Atividade1/nbproject/private/
/Aula03Atividade1/build/
/Aula03Atividade2/nbproject/private/
/Aula03Atividade2/build/
/Aula03Atividade3/nbproject/private/
/Aula03Atividade3/build/
/Aula03Atividade4/nbproject/private/
/Aula03Atividade4/build/
/Aula04Atividade1/nbproject/private/
/Aula04Atividade1/build/
/Aula04Atividade2/nbproject/private/
/Aula04Atividade2/build/
/Aula04Atividade3/nbproject/private/
/Aula04Atividade3/build/
/Aula04Atividade04/nbproject/private/
/Aula04Atividade4/nbproject/private/
/Aula04Atividade4/build/
/Aula04Atividade5/nbproject/private/
/Aula04Atividade5/build/
/Aula04Exercicio6/nbproject/private/
/Aula05Exercicio1/nbproject/private/
/Aula05Exercicio1/build/
/Aula04Exercicio6/build/
/Aula04Exercicio7/nbproject/private/
/Aula04Exercicio7/build/
/Aula04Exercicio3/nbproject/private/
/Aula05Exercicio3/nbproject/private/
/Aula05Exercicio3/build/
/Aula05Exercicio4/nbproject/private/
/Aula05Exercicio4/build/
/Aula04Exercicio8/nbproject/private/
/Aula04Exercicio8/build/
/Aula05Exercicio2/nbproject/private/
/Aula05Exercicio2/build/
/Aula04Atividade6/nbproject/private/
/Aula04Atividade7/nbproject/private/
/Aula04Atividade8/nbproject/private/
/Aula05Atividade1/nbproject/private/
/Aula05Atividade2/nbproject/private/
/Aula05Atividade3/nbproject/private/
/Aula05Atividade4/nbproject/private/
/Aula07Atividade1/nbproject/private/
/Aula07Atividade1/build/
/Aula07atividade2/nbproject/private/
/Aula07atividade2/build/
/Aula06Atividade1/nbproject/private/
/Aula07AAtividade2/nbproject/private/
/Aula07Atividade2/nbproject/private/
/Aula06Atividade1/build/
/Aula06Atividade2/nbproject/private/
/Aula06Atividade2/build/
/Aula06Atividade3-A/nbproject/private/
/Aula06Atividade3-B/nbproject/private/
/Aula06Atividade3-B/build/
/Aula06Atividade4/nbproject/private/
/Aula06Atividade4/build/
/Aula06Atividade4_A/nbproject/private/
/Aula06Atividade3-A/build/
/Aula06Atividade4-B/nbproject/private/
/Aula06Atividade4-B/build/
/Aula07Atividade3/nbproject/private/
/Aula07Atividade3/build/
/Aula06Atividade5/nbproject/private/
/Aula06Atividade5/build/
/Aula06Atividade6/nbproject/private/
/Aula06Atividade6/build/
/Aula06Atividade7/nbproject/private/
/Aula06Atividade7/build/
/Aula06Atividade8/nbproject/private/
/Aula06Atividade8/build/
/Aula07Atividade4/nbproject/private/
/Aula07Atividade4/build/
